body {
  background-color:#7F8C8D;
  min-width: 320px;
  text-align: center;
}

#survey-form {
  background-color: #28B463;
  text-align:center;
  padding-top: 5px;
  font-size: 20px;
}

.label {
  font-family: helvetica;
  font-size: 20px;
  display: inline-block;
    text-align: right;
    width: 40%;
    padding: 25px;
    vertical-align: top;
    margin-top: 10px; 
  position: relative;
  bottom: 5px;
  
}

.rightTab {
      display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: bottom;
  padding: 15px;
  line-height: 2.5;
  
}

.input-field {
  height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid ##7F8C8D;
    border-radius: 8px;
}

.comments{
  font-size: 27px;
  text-align: left;
  margin: auto;
  height: 100px;
}

#submit {
  position: relative;
  background-color: #7F8C8D;
    border-radius: 14px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 1px solid;
  top: 40px;
  right: 20px;
}

#submit:hover {
  color: black;
  
}